<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Whispered Words
  is a project to resemble twitter and to teach me
  <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
  is the prototype application.
</p>